<!-- <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/about">About</a>
  </nav> -->


  <div class="sub_page">
    <div class="menu">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
            <a class="mr-5" href="index.html">
              <img src="assets/images/CompanyLogo.jpg" alt="" style="width:285px">
              <!-- <span>
                Vidyut Solutions
              </span> -->
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav  ">
                  <li class="nav-item ">
                    <a class="nav-link" routerLink="/"  >Home </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/about"   routerLinkActive="active"> About </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/services"   routerLinkActive="active"> Service </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  routerLink="/contactus"   routerLinkActive="active">Contact us</a>
                  </li>
                </ul>
                <!-- <form class="form-inline">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                </form> -->
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>
</div>
